---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1> 
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>

                <p>Other than doing data science, I also provide the following services for corporate and individual customers:</p>
                <ul>
                  <li>Python Coding and Machine Learning Training (Scroll down for more)</li>
                  <li>Course Mapping for Government Funding</li>
                  <li>Course Material Creation</li>
                  <li>Career Workshops</li>
                </ul>

                <hr>

                <p><h1>All Courses and Trainings:</h1></p>

                <div class="post-list">
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="/assets/doc/python_professionals.pdf">1. Python for Professionals</a>
                            <p>Introductory Python Coding course with no pre-requisites.</p>
                        </li>
                    </ul>
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="/assets/doc/datascience_training.pdf">2. Data Science Training</a>
                            <p>Data Science Training for all levels. Will be customized based on company's or team's needs.</p>
                        </li>
                    </ul>
                </div>

                <hr>

                <p><h1>I have previously worked with these companies: </h1></p>

                <div class="rowcourse">
                  <div class="columncourse">
                    <a href='https://www.spdb.com.cn/'>
                        <img src="/assets/img/spdbank.png" alt="spdbank" width="500">
                    </a>
                  </div>
                  <div class="columncourse">
                    <a href='https://www.thisismetis.com/'>
                        <img src="/assets/img/metis.png" alt="metis" width="500">
                    </a>
                  </div>
                  <div class="columncourse">
                    <a href='https://www.kaplan.com.sg/'>
                        <img src="/assets/img/kaplan.png" alt="kaplan" width="500">
                    </a>
                  </div>
                </div>

                <div class="rowcourse">
                  <div class="columncourse">
                    <a href='http://www.amitysingapore.sg/'>
                        <img src="/assets/img/amity.png" alt="amity" width="500">
                    </a>
                  </div>
                  <div class="columncourse">
                    <a href='https://tribeaccelerator.co/'>
                        <img src="/assets/img/tribe.png" alt="tribe" width="500">
                    </a>
                  </div>
                  <div class="columncourse">
                    <a href='https://www.singaporetech.edu.sg/'>
                        <img src="/assets/img/sit.png" alt="sit" width="500">
                    </a>
                </div>

                
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
